/* In media queries we DO NOT use px, because then the content will not adjust to  different screen size. 
Also, the root square element's size can not be changed and thus 1rem = 1em = 16px . In media queries ALWAYS use em because rem is bugged */


/**********************/
/* BELOW 1344px (smaller desktops) */
/**********************/

/* We choose 1350 because our max container width in the document is 1300 => 1350/16 = 84.375 -> round it because we conventionally use round numbers -> 84em and thus the pixels for response are 84*16 = 1344 */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .hero-primary {
    font-size: 4.4em;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**********************/
/* BELOW 1200px (landscape tablets) */
/**********************/

/* 1200px are a common breakpoint since we are now stepping into handheld devices teritory */
@media (max-width: 75em) {
  html {
    /*I want to make it 9px so 9/16 = 0.5625*/
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  /*For ease of setting up our layout we still use the convention that 10px = 1rem. Just for faaster set up and the visual result will be still the same*/
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*
--- 01 TYPOGRAPHY SYSTEM

- Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE

- Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/